html{
  margin:0;
  padding:0;
  background-color: darkslategrey;
  background-image: linear-gradient(180deg, rgb(52, 56, 58), rgb(101, 101, 107));
  --frog-green: rgb(171, 188, 13);
  --old-frog:rgb(119, 130, 8);
  --old-man: rgb(52, 58, 58);
  --wise-man: rgb(108, 108, 116 );
}

.App {
  margin:0;
  padding:0;
  text-align: center;
  height: 100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



h1 {
  margin:0;
  font-weight:bold;
  margin: 25px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
  justify-content: space-around;
}
.countHere{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width:100%;
  justify-content: space-around;
  font-size: 30px;
  
}

.first-row, .second-row, .third-row, .forth-row{
  display: flex;
  flex-flow: row wrap;
  
}
.first-row, .second-row, .third-row, .forth-row, .result{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.all-buttons {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 50px;
  border: 2px solid var(--old-frog);
  display: inline-block;
  justify-content: space-around;
  padding: 12px 12px;
  background-color: var(--frog-green);
  color: rgb(255, 255, 255);
  height: 50px;
}

.all-buttons:hover{
  background-color: var(--old-frog);
  color: rgb(255, 255, 255);
  transition-duration: 40ms;
  transition: 60ms;
}

.result{
  width:200px;
  background-color: black;
  margin:0;
  justify-content: space-around;
  color:white;
  height: 50px;
}

.countHere h1{
  margin: 0;
  text-align: center;
  font-size: 30px;
  
}